# Assignment Day 4 | 13th November 2020

### Questions 1:
How to import pandas and check the version?

In [2]:
#to import pandas
import pandas as pd

#to get installed pandas version
print(pd.__version__)

1.0.1

### Questions 2:
How to create a series from a numpy array?

In [3]:
import numpy as np

a = np.array([32,53,72,32,12,53,64])
s = pd.Series(a)
print(s)

0    32
1    53
2    72
3    32
4    12
5    53
6    64
dtype: int32

### Questions 3:
How to convert the index of a series into a column of a dataframe?

In [4]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amol', 'Rutuja', 'Varsha', 'RAV'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['B', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
    
df

  Roll Number    Name  Marks In Percentage Grade  Subject
0     20CSE29    Amol                   97     B  Physics
1     20CSE49  Rutuja                   90     A  Physics
2     20CSE36  Varsha                   70     C  Physics
3     20CSE44     RAV                   82     B  Physics

### Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [5]:
import seaborn as sb

sb.get_dataset_names()

C:\Users\Amol\anaconda3\lib\site-packages\seaborn\utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\Amol\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [6]:
df = sb.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
len(df)

398

### Questions 5:
Which country origin cars are a part of this dataset?

In [8]:
u = df['origin'].unique()
print(u)

['usa' 'japan' 'europe']

### Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [10]:
df[df['origin']=='usa']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [11]:
c = df['origin']
c

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

In [12]:
c=='usa'

0       True
1       True
2       True
3       True
4       True
       ...
393     True
394    False
395     True
396     True
397     True
Name: origin, Length: 398, dtype: bool